---
import MainLayout from "../layouts/MainLayout.astro";
import AboutContent from "../content/about.mdx";
---

<MainLayout
    title="About Handy"
    description="Learn about Handy - the free and open source speech to text application"
>
    <div class="max-w-none">
        <AboutContent />
    </div>
</MainLayout>
