---
import MainLayout from "../layouts/MainLayout.astro";
import Content from "../content/buttons.mdx";
---

<MainLayout
    title="Handy Buttons"
    description="Learn about Handy - the free and open source speech to text application"
>
    <div class="prose prose-gray max-w-none">
        <Content />
    </div>
</MainLayout>
