---
import MainLayout from "../layouts/MainLayout.astro";
import Content from "../content/buttons.mdx";
---

<MainLayout
    title="Handy Buttons"
    description="Handy Buttons are single purpose speech-to-text buttons for your computer"
>
    <div class="max-w-none">
        <Content />
    </div>
</MainLayout>
