---
import MainLayout from "../layouts/MainLayout.astro";
import PlatformDownloadButton from "../components/PlatformDownloadButton";
---

<MainLayout
    title="Handy"
    description="Handy is a cross platform speech to text application for your computer"
    showHero={true}
    heroTitle="speak into any text field"
    heroSubtitle="the free and open source app for speech to text"
>
    <div class="flex flex-col items-center gap-12">
        <div class="flex gap-4 items-center">
            <PlatformDownloadButton client:only="react" />
            <a href="/download">other platforms</a>
        </div>
        <video
            width="640"
            height="360"
            src="https://file-examples.com/storage/fefdd7ab126835e7993bb1a/2017/04/file_example_MP4_640_3MG.mp4"
            class="rounded-4xl shadow-md bg-black"
            autoplay
        >
        </video>
        <div class="w-full">
            <!-- any content goes here -->
        </div>
    </div>
</MainLayout>
