---
import MainLayout from "../layouts/MainLayout.astro";
import PlatformDownloadButton from "../components/PlatformDownloadButton";
---

<MainLayout
    title="Handy"
    description="Handy is a cross platform speech to text application for your computer"
    showHero={true}
    heroTitle="speak into any text field"
    heroSubtitle="the free and open source app for speech to text"
>
    <div class="flex flex-col items-center gap-12">
        <div class="flex flex-col sm:flex-row gap-2 sm:gap-4 items-center">
            <PlatformDownloadButton client:load />
            <a href="/download">other platforms</a>
        </div>
        <video
            width="640"
            height="360"
            src="/handy-video.webm"
            class="rounded-2xl mb-12 bg-black ring-1 ring-handy-text/10"
            controls
            playsinline
        >
        </video>
        <div class="w-full grid grid-cols-1 md:grid-cols-2 md:gap-12 gap-4">
            <div class="space-y-1">
                <h2>Free</h2>
                <p>
                    Accessibility tooling belongs in everyone's hands, not
                    behind a paywall.
                </p>
            </div>
            <div class="space-y-1">
                <h2>Open Source</h2>
                <p>
                    Together we can build further. Extend Handy for yourself and
                    contribute to something bigger.
                </p>
            </div>
            <div class="space-y-1">
                <h2>Private</h2>
                <p>
                    Your voice stays on your computer. Get transcriptions
                    without sending audio to the cloud.
                </p>
            </div>
            <div class="space-y-1">
                <h2>Simple</h2>
                <p>
                    One tool, one job. Transcribe what you say and put it into a
                    text box.
                </p>
            </div>
        </div>
    </div>
</MainLayout>
