---
export interface Props {
    href: string;
    label: string;
    extension: string;
}

const { href, label, extension } = Astro.props;
---

<a
    href={href}
    class="px-6 py-4 rounded-lg bg-handy-pink !text-handy-dark-pink hover:bg-handy-light-pink flex justify-between items-center"
>
    <span>{label}</span>
    <span class="text-sm opacity-75 ml-2">{extension}</span>
</a>
