---
import HandyTextLogo from "./logo/HandyTextLogo";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);

const getNavLinkClass = (path: string) => {
    return currentPath === path ? "!text-handy-pink" : "";
};
---

<div class="flex justify-between w-full pt-8 items-center">
    <a href="/">
        <HandyTextLogo className="h-16" />
    </a>
    <div class="flex gap-4 items-center">
        <a href="/download" class={getNavLinkClass("download")}>download</a>
        <a href="/about" class={getNavLinkClass("about")}>about</a>
        <a href="/buttons" class={getNavLinkClass("buttons")}>buttons</a>
        <a href="https://github.com/cjpais/Handy" target="_blank"> github </a>
        <a
            href="https://donate.stripe.com/6oU4gz8762g9790c8Vffy0j"
            target="_blank"
            class="px-5 py-[6px] rounded-lg bg-handy-pink !text-handy-dark-pink hover:bg-handy-light-pink"
        >
            donate
        </a>
    </div>
</div>
